<?php

$config = array(
	'debug_mode' => FALSE,
	'log_level' => 1,
	'cache_enabled' => TRUE,
	'cache_expiry' => 1200,
	'url' => 'http://your.server.tld/dir/index.php',
	'title' => 'Saved Searches',
	'feeds' => array(
		'name' => 'feed url',
		'another name' => 'another feed',
	),
);
